<div class="ra-scroll-to btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle btn-lg animated bounceInDown" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-caret-up"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
            <a data-options='{ "easing": "linear", "duration": 1000 }'
                href="#ra-top"
                data-ng-click="scrollTo('#ra-top')">{{'TOP' | translate}}</a>
        </li>
        <li>
            <a data-options='{ "easing": "linear", "duration": 1000 }'
                href="#ra-event"
                data-ng-click="scrollTo('#ra-event')">{{'EVENT' | translate}}</a>
        </li>
        <li>
            <a data-options='{ "easing": "linear", "duration": 1000 }'
                href="#ra-rsvp"
                data-ng-click="scrollTo('#ra-rsvp')">{{'RSVP_HEADER' | translate}}</a>
        </li>
        <li>
            <a data-options='{ "easing": "linear", "duration": 1000 }'
                href="#ra-moments"
                data-ng-click="scrollTo('#ra-moments')">{{'MOMENT' | translate}}</a>
        </li>
        <li>
            <a data-options='{ "easing": "linear", "duration": 1000 }'
                href="#ra-location"
                data-ng-click="scrollTo('#ra-location')">{{'LOCATION' | translate}}</a>
        </li>
    </ul>
</div>