<div class="ra-isotope-grid">
    <div class="ra-type-event col-md-6 col-sm-6">
        <div class="ra-event-grid-post-wrapper">
            <div class="ra-event-grid-post-thumbnail">
                <a href="">
                    <img src="assets/images/wedding-party-large-570x380.jpg" alt="wedding party">
                </a>
            </div>
            <h4 class="ra-event-grid-post-title">
                <a href="">
                    Wedding Party
                </a>
            </h4>
            <div class="ra-event-grid-excerpt">
                <p>
                    Welcome to come and join our wedding party. Nulla nec lectus eu ipsum iaculis sagittis sed vel massa. Fusce pulvinar, libero ultricies facilisis venenatis, turpis libero pharetra tortor, non varius tortor purus quis massa.
                </p>
            </div>
            <div class="ra-event-meta">
                <div class="ra-event-meta-date">
                    <i class="fa-calendar fa"></i>
                    Satuday, Octorber 10th 2015
                </div>
                <div class="ra-event-meta-time">
                    <i class="fa fa-clock-o"></i>
                    2015-10-10
                </div>
                <div class="ra-event-meta-venue">
                    <i class="fa-home fa"></i>
                    University Club of Palo Alto
                </div>
                <div class="ra-event-meta-address">
                    <i class="fa-location-arrow fa"></i>
                    3277 Miranda Ave, Palo Alto, CA 94304
                </div>
            </div>
            <!-- <div class="ra-event-detail-link">
                <a href=""
                    class="btn ra-button"
                    data-ng-click="viewDetails($event)">
                    VIEW DETAILS
                </a>
            </div> -->
        </div>
    </div>
    <div class="ra-type-event col-md-6 col-sm-6">
        <div class="ra-event-grid-post-wrapper">
            <div class="ra-event-grid-post-thumbnail">
                <a href="">
                    <img src="assets/images/wedding-ceremony-large-570x380.jpg" alt="Wedding Ceremony">
                </a>
            </div>
            <h4 class="ra-event-grid-post-title">
                <a href="">
                    Wedding Ceremony
                </a>
            </h4>
            <div class="ra-event-grid-excerpt">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec lectus eu ipsum iaculis sagittis sed vel massa. Fusce pulvinar, libero ultricies facilisis venenatis, turpis libero pharetra tortor, non varius tortor purus quis massa.
                </p>
            </div>
            <div class="ra-event-meta">
                <div class="ra-event-meta-date">
                    <i class="fa-calendar fa"></i>
                    Satuday, Octorber 10th 2015
                </div>
                <div class="ra-event-meta-time">
                    <i class="fa fa-clock-o"></i>
                    4:30 PM - 5:30 PM
                </div>
                <div class="ra-event-meta-venue">
                    <i class="fa-home fa"></i>
                    University Club of Palo Alto
                </div>
                <div class="ra-event-meta-address">
                    <i class="fa-location-arrow fa"></i>
                    3277 Miranda Ave, Palo Alto, CA 94304
                </div>
            </div>
            <!-- <div class="ra-event-detail-link">
                <a href=""
                    class="btn ra-button"
                    data-ng-click="viewDetails($event)">
                    VIEW DETAILS
                </a>
            </div> -->
        </div>
    </div>
</div>