<div class="ra-gallery">
    <div ng-switch on="gallery.getWhichPage()" ng-hide="gallery.isVideoSelected()" ng-class="{container: gallery.getWhichPage() === 'photos'}">
        <div class="ra-page" ng-switch-when="photos" infinite-scroll="gallery.next()" infinite-scroll-disabled="gallery.isBusy">
            <moments class="ra-js-justifiedgallery" photos="gallery.wedding.photos" ></moments>
        </div>
        <div ng-switch-when="videos">
            <div data-ng-if="!gallery.isAuth()" class="galaxy">
                <form class="ra-sign-in-form">
                    <div class="ra-sign-in-text">{{ 'SIGN_IN_DESC' | translate }}</div>
                    <button data-ng-click="gallery.googleLogin()" class="ra-g-login-btn">
                        <img src="http://rna.com.s3.amazonaws.com/yeswemarry/g-logo.png" alt="g logo">
                        <span>{{'SIGN_IN_GOOGLE' | translate }}</span>
                    </button>
                </form>
            </div>
            <div data-ng-if="gallery.isAuth()">
                <ul class="gallery-video-ul">
                    <li data-ng-repeat="video in gallery.getVideos()" class="{{'video' + $index}}">
                        <di-atom video="video"></di-atom>
                    </li>
                    <li class="video1">
                        <div class="di-atom center">
                            <div class="video"></div>
                            <div class="satellite"></div>
                            <div class="satellite outer"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="video-mode" data-ng-if="gallery.isVideoSelected()">
        <button class="ra-video-close-button" ng-click="gallery.onVideoClose()">x</button>
        <video controls class="wedding-video" preload="metadata" poster="https://s3.amazonaws.com/rna.com/yeswemarry/videos/short-film-poster.jpg">
            <source ng-src="{{gallery.getSelectedVideoLink()}}">
            Your browser doesn't support HTML5 video tag.
        </video>
    </div>
</div>