.ra-hero-container {
  margin-top: -140px;
  z-index: 10;
  position: relative;
  background-color: transparent;
  .background-image(linear-gradient(top, rgba(255, 255, 255, 0.9), white 140px));

  .ra-photo-profile {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #eee;
    .box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    border: 5px solid white;
    margin-top: -45px;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .ra-round-image {
    border-radius: 50%;
    overflow: hidden;
  }

  .ra-party {
    text-align: center;
    padding: 0 20px;
  }

  .ra-couple-icon {
    background-image: url('images/couple-icon.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
  }

  .ra-icon-male {
    background-position: 0 0
  }

  .ra-icon-female {
    background-position: -32px 0;
  }

  .ra-couple-separator {
    margin-top: 35px;
    text-align: center;
  }
}