<nav class="ra-header navbar navbar-default" role="navigation" data-scroll-header>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-header">
            <ul class="nav navbar-nav"
                ng-class="{'ra-cn-header': isUseCN()}">
                <li class="active" ui-sref-active="active">
                    <a ui-sref="home">{{'HOME' | translate}}</a>
                </li>
                <li class="dropdown"
                    ng-class="{ 'active': isCoupleState() }">
                    <a href=""
                        id="couple-drop-down"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-expanded="false">{{'COUPLE' | translate}}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="couple({who: 'groom'})">{{'GROOM' | translate}}</a></li>
                        <li><a ui-sref="couple({who: 'bride'})">{{'BRIDE' | translate}}</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="gallery">{{'GALLERY' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="guestbook">{{'GUESTBOOK' | translate}}</a>
                </li>
                <li>
                    <a href=""
                        ng-click="use('cn')"
                        ng-show="!isUseCN()">{{'LAN' | translate}}</a>
                    <a href=""
                        ng-click="use('en')"
                        ng-show="isUseCN()">{{'LAN' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>