.ra-guestbook-title {
    position: relative;
    .ra-parallax-background {
        background: url(images/hero2.jpg) 50% 0 no-repeat fixed;
        .parallax-background();
    }
    a {
        margin: 0 auto;
        display: table;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .ra-quote-text {
        padding: 80px;
        color: white;
        font-size: 35px;
    }
}

.guestbook {
    background-color: #f9f9f9;
    .ra-guestbook {
        padding-top: 40px;
        padding-bottom: 80px;
        p {
            font-family: 'Open Sans', sans-serif;
        }
    }
    .ra-content {
        margin-bottom: 40px;
    }
    .ra-guestbook-form {
        padding-top: 20px;
        border-top: 1px solid #eee;
        input,
        textarea {
            font-family: 'Open Sans', sans-serif;
        }
    }
    .ra-button {
        width: 100%;
    }
    .list-guestbook-entries {
        margin-top: 60px;
    }
}
