/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : @screen-md-min) {
/* Styles */
  .parallax img {
    width: 200% !important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : @screen-sm-min) {
/* Styles */
  header {
    .di-header {
      height: auto;
    }
  }
  #ra-content .ra-date-separator {
    font-size: 15px;
  }
  .parallax img {
    width: 300% !important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : @screen-xs-max) {
/* Styles */
    header {
      .ra-logo-name {
        font-size: 30px;
      }
      .ra-logo-date {
        width: 274px;
      }
    }
  .ra-title {
    font-size: 22px;
  }
  #ra-content .ra-text {
    font-size: 32px;
  }
  .parallax img {
    width: 350% !important;
  }
}

