<form name="rsvp-form" class="ra-rsvp-form" novalidate ng-submit="vm.submitRsvp()">
    <div class="ra-title">
        {{'RSVP_HEADER' | translate}}
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{'F_NAME' | translate}}</label>
        <input type="text" class="form-control" id="ra-full-name" ng-model="vm.rsvp.firstName" placeholder="Enter your first name">
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{'L_NAME' | translate}}</label>
        <input type="text" class="form-control" id="ra-full-name" ng-model="vm.rsvp.lastName" placeholder="Enter your last name">
    </div>
    <div class="form-group">
        <label for="ra-email-address">{{'EMAIL' | translate}}</label>
        <input type="email" class="form-control" id="ra-email-address" ng-model="vm.rsvp.email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{ 'NUM_ADULT' | translate }}</label>
        <select class="form-control" ng-model="vm.rsvp.numberOfadults">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{ 'NUM_CHILD' | translate }}</label>
        <select class="form-control" ng-model="vm.rsvp.numberOfChild">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <input type="submit" class="ra-rsvp-submit btn ra-button" value="{{'ATTENDING' | translate }}">
</form>
