<form name="rsvp_form" class="ra-rsvp-form" ng-submit="vm.submitRsvp(rsvp_form)" novalidate>
    <div class="ra-title">
        {{'RSVP_HEADER' | translate}}
    </div>
    <div class="form-group">
        <label for="ra-full-name">
            {{'F_NAME' | translate}}
            <div class="error-messages"
            ng-if="vm.interacted(rsvp_form.first_name)"
            ng-messages="rsvp_form.first_name.$error">
            <div ng-message="required">{{ 'l_name_err' | translate }}</div>
        </div>
        </label>
        <input type="text"
            class="form-control"
            id="ra-full-name"
            name="first_name"
            ng-model="vm.rsvp.firstName"
            placeholder="{{'f_name_ph' | translate}}"
            required>
    </div>
    <div class="form-group">
        <label for="ra-full-name">
            {{'L_NAME' | translate}}
            <div class="error-messages"
                ng-if="vm.interacted(rsvp_form.last_name)"
                ng-messages="rsvp_form.last_name.$error">
                <div ng-message="required">{{ 'f_name_err' | translate }}</div>
            </div>
        </label>
        <input type="text"
            class="form-control"
            name="last_name"
            id="ra-full-name"
            ng-model="vm.rsvp.lastName"
            placeholder="{{'l_name_ph' | translate}}"
            required>
    </div>
    <div class="form-group">
        <label for="ra-email-address">
            {{'EMAIL' | translate}}
            <div class="error-messages"
                ng-if="vm.interacted(rsvp_form.email_address)"
                ng-messages="rsvp_form.email_address.$error">
                <div ng-message="required">{{ 'email_err' | translate }}</div>
                <div ng-message="email">{{ 'email_format_err' | translate }}</div>
            </div>
        </label>
        <input type="email"
            class="form-control"
            id="ra-email-address"
            name="email_address"
            ng-model="vm.rsvp.email"
            placeholder="{{'email_ph' | translate}}"
            required>
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{ 'NUM_ADULT' | translate }}</label>
        <select class="form-control" ng-model="vm.rsvp.numberOfadults">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ra-full-name">{{ 'NUM_CHILD' | translate }}</label>
        <select class="form-control" ng-model="vm.rsvp.numberOfChild">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ra-allergy">{{ 'ALLERGY' | translate }}</label>
        <textarea class="form-control" rows="2" ng-model="vm.rsvp.allergy"></textarea>
    </div>
    <input type="submit" class="ra-rsvp-submit btn ra-button" value="{{'ATTENDING' | translate }}">
</form>
